footer{
    padding: 10px 10px 0 10px;    
    background-color: purple;
    color: whitesmoke;
}
.junbotron{
 background: linear-gradient(gray, red);
    margin-top: auto;
}
.btn{
    color: black;
    background-color: beige;
}
.card-hotel{
    flex: 1 200;
    padding: 2px 10px 10px 2px;
    margin-top: 10px;
}
.btn-reserva{
    width: auto;
    border-radius: 0;
    width: 100%;
}

.navbar{
    color: green;
    background-color: aliceblue;
}
.nav-link{
    color: white;
}
.footer-icons {
    padding-right: 10px;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-base{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.table-precios{
    text-align: center;
    column-width: 50%;
}
.Imagen{
    width: 100px;
    border-image: 10;
    justify-content: right;
    align-items: right;
}

MyTab{
    color:green;

}
.nav-item{
    color: white;
}
body{
    background-color: darkgray;
}
#textobase{
    background-color: lightgray;
    padding-right: 10px;
    padding-left: 10px;
}
.tabla-tarjetas{
    text-align: center;
}
#carouselExampleControls{
    height: 50%;
    width: 50%;
    justify-content: center;
}